"*":
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs:
      noTabMinWidth: true
    treeView:
      blendTabs: true
      compactList: true
    ui: {}
  "atom-package-deps":
    ignored: []
  "config-import-export":
    defaultPath:
      darwin: ""
      freebsd: ""
      linux: "/home/memuller/AtomBackups"
      sunos: ""
      win32: ""
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "terminal-plus"
      "language-mongodb"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Fira Code"
    softWrap: true
  "exception-reporting":
    userId: "31cff278-29a4-424b-36fd-417c2e9afc6b"
  "file-icons": {}
  "git-plus":
    general:
      _analyticsUserId: "3ae3e266-0098-4e21-a9b6-fc62f1113e00"
  "gruvbox-plus-syntax": {}
  linter:
    lintPreviewTabs: false
  "linter-ui-default":
    panelHeight: 81
  pigments:
    notifyReloads: false
  "project-plus":
    showPath: true
  "seti-syntax":
    dynamicColor: false
    themeColor: "Steel"
  "seti-ui":
    compactView: true
    disableAnimations: true
    fileIcons: false
    themeColor: "Red"
  "terminal-plus":
    toggles:
      autoClose: true
  welcome:
    showOnStartup: false
