"*":
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs:
      noTabMinWidth: true
    treeView:
      blendTabs: true
      compactList: true
    ui: {}
  "atom-package-deps":
    ignored: []
  "config-import-export":
    defaultPath:
      darwin: ""
      freebsd: ""
      linux: "/home/memuller/AtomBackups"
      sunos: ""
      win32: ""
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "terminal-plus"
      "language-mongodb"
      "emmet"
      "git-control"
      "linter-write-good"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "duotone-dark-sky-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    softWrap: true
  "exception-reporting":
    userId: "31cff278-29a4-424b-36fd-417c2e9afc6b"
  "file-icons": {}
  "git-plus":
    general:
      _analyticsUserId: "3ae3e266-0098-4e21-a9b6-fc62f1113e00"
  "gruvbox-plus-syntax": {}
  linter:
    lintPreviewTabs: false
  "linter-ui-default":
    panelHeight: 69
  "metro-ui":
    fullscreenStatusBar: true
    theme: "Adaptive Dark"
    themeAccentColor: "#744da9"
  "one-dark-ui": {}
  pigments:
    notifyReloads: false
  "pristine-ui":
    fontSize: 13
  "project-manager":
    savePathsRelativeToHome: true
  "project-plus":
    showPath: true
  "seti-syntax":
    dynamicColor: false
    themeColor: "Steel"
  "seti-ui":
    compactView: true
    disableAnimations: true
    fileIcons: false
    themeColor: "Red"
  "terminal-plus":
    toggles:
      autoClose: true
  welcome:
    showOnStartup: false
